<% layout('layout') -%>

<div class="addForm">
    <input type="text" placeholder="Новое соревнование" id="name" class="i-t addForm_it"/>
    <a id="add" href="#" class="al">добавить</a>
</div>

<table>
    <thead>
        <tr>
            <td>Название</td>
            <td>Результаты</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td class="nobr names">
                <% for(var team in teams) {%>
                <span class="cell"><%= teams[team].name %></span>
                <% } %>
            </td>
            <td></td>
            <td></td>
        </tr>
    </thead>
    <tbody>
        <% for(var event in events) {%>
        <form action="/events/edit/<%= events[event]._id %>">
            <tr>
                <td><%= events[event].name %></td>
                <td class="nobr">
                    <% for(var team in teams) {%>
                        <span class="cell">
                            <input
                                    type="text"
                                    name="<%= teams[team]._id %>"
                                    class="i-t inp"
                            <% if(events[event].results) { %>
                                value="<%= events[event].results[teams[team]._id] %>"
                            <% } %>
                            />
                        </span>
                    <% } %>
                </td>
                <td><input type="submit" value="Сохранить"/></td>
                <td><a href="/events/remove/<%= events[event]._id %>" class="rl">удалить</a></td>
            </tr>
        </form>
        <% } %>
    </tbody>
</table>

<script type="text/javascript">
    var onSubmit = function(e) {
        e.preventDefault();
        var name = document.getElementById("name").value;
        if(name != "") {
            window.location.href = "/events/add/" + name;
        }
    };

    document.getElementById("add").onclick = onSubmit;
    document.getElementById("name").onkeydown = function(e) {
        if(e.keyCode == 13) {
            onSubmit(e);
        }
    };
    document.getElementById("name").focus();
</script>